.meus-filmes {
  max-width: 100%;
  padding: 10px 60px 4px 60px;
  overflow: hidden;
  margin-top: 60px;
}

.meus-filmes-content {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  color: #fff;
}
.meus-filmes-tittle {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 14px;
  color: #fff;
}

.meus-filmes-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.meus-filmes-item img {
  width: 350px;
  display: block;
  border: 2px solid transparent;
  transition: 0.3s;
}

.meus-filmes-item img:hover {
  border: 2px solid #fff;
  transition: 0.3s;
}

.meus-filmes-item span {
  color: #fff;
  font-size: 14px;
  padding: 10px 2px;
}

.meus-filmes-item button {
  width: 25%;
  padding: 5px;
  margin-left: 2px;
}
