.lista-filmes {
  max-width: 100%;
  padding: 10px 60px 4px 60px;
  overflow: hidden;
}

.lista-filmes-tittle {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 14px;
}

.lista-filmes-tittle h1 {
  font-size: 50px;
  color: #116feb;
  padding: 5px;
  font-weight: bold;
  margin-right: 10px;
}

.lista-filmes-tittle h3 {
  font-size: 22px;
  font-weight: normal;
  color: #fff;
}

/* .lista-filmes-content {
    display: inline-flex;
  } */

.lista-filmes-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 15px;
  border-radius: 4px;
}

.lista-filmes-item h1 {
  font-size: 9rem;
  color: #116feb;
}

.lista-filmes-item img {
  /* width: calc(-36.6667px + 16.6667vw); */
  width: 170px;
  display: block;
  border: 2px solid transparent;
  transition: 0.3s;
  position: relative;
  left: -25px;
  margin-right: -25px;
}

.lista-filmes-item img:hover {
  border: 2px solid #fff;
  transition: 0.3s;
}

.lista-filmes-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 24px;
  text-decoration: none;
}
